* {
  margin: 0;
  padding: 0;
  background-color: rgb(50, 50, 50);
}

canvas {
  width: 50%;
  height: 50%;
  /* display: block; */
  z-index: 1;
}

body {
  background-color: #0000;
}
#grid-container1  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #2196F3;
  padding: 0px;
}
#grid-container2 {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #2196F3;
  height: 100%;
  padding: 0px;
}


#all {
  background-color: #0000;
  border: none;
  text-align: center;
  font-size: 30px;
  position: absolute;
  z-index: -1;
}

#back {
  background-color: #0000;
  border: none;
  text-align: center;
  font-size: 30px;
  position: absolute;
}
#left {
  background-color: rgb(50, 50, 50);
  border: none;
  text-align: center;
  font-size: 30px;
  position: absolute;
}
#bottom {
  background-color: rgb(50, 50, 50);
  border: none;
  text-align: center;
  font-size: 30px;
  position: absolute;
}
#right {
  background-color: #0000;
  border: none;
  text-align: center;
  font-size: 30px;
  position: absolute;
}
#top {
  background-color: #0000;
  border: none;
  text-align: center;
  font-size: 30px;
  position: absolute;
}
#front {
  background-color: #0000;
  border: none;
  text-align: center;
  font-size: 30px;
  position: absolute;
}

#orbit {
  background-color: #0000;
  border: none;
  text-align: center;
  font-size: 30px;
  position: absolute;
  z-index: 1;
}

.reset-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  right: 0%;
}

.move-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  left: 60%;
}

.shuffle-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  left: 75%;
}

.counter-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  right: 0%;
  top: 15%;
}

.counter-text {
  background-color: #4f8351; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  position: absolute;
  right: 0%;
  top: 20%;
}



.input-alg {
  position: relative;
  background-color: white; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  left: 40%;
}
